.viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 20000px;
  height: 20000px;
  transform-origin: 0 0;
  background-size: 30px 30px;
  background-image: radial-gradient(circle, lightgray 1px, rgba(0,0,0,0) 1px);
  touch-action: none;
}
