<div class="selection-container"
     (mousedown)="onMouseDown($event)"
     (mousemove)="onMouseMove($event)"
     (window:mouseup)="onMouseUp()">

  @if (isDragging) {
    <div class="drag-selection-box"
         [style.left.px]="selectionRect.left"
         [style.top.px]="selectionRect.top"
         [style.width.px]="selectionRect.width"
         [style.height.px]="selectionRect.height">
    </div>
  }

  <p-table #tableRef
           [value]="items"
           [resizableColumns]="true"
           selectionMode="multiple"
           [metaKeySelection]="true"
           dataKey="name"
           [(selection)]="selectedItems"
           [scrollable]="true"
           [scrollHeight]="(height-8)+'vh'"
           [tableStyle]="{'width':'100%'}">
    <ng-template #header>
      <tr>
        <th pSortableColumn="name" pResizableColumn>
          <div class="flex items-center gap-2">
            Name
            <p-sortIcon field="name"/>
          </div>
        </th>
        <th pSortableColumn="newName" pResizableColumn>
          <div class="flex items-center gap-2">
            New Name
            <p-sortIcon field="newName"/>
          </div>
        </th>
        <th pSortableColumn="size" pResizableColumn>
          <div class="flex items-center gap-2">
            Size
            <p-sortIcon field="size"/>
          </div>
        </th>
        <th pSortableColumn="modified" pResizableColumn>
          <div class="flex items-center gap-2">
            Modified
            <p-sortIcon field="modified"/>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-item let-rowIndex=rowIndex>
      <tr [pSelectableRow]="item"
          [pSelectableRowIndex]="rowIndex"
          (click.double)="openDirectory(item)"
          #rowRef>
        <td>
          @if (item.isDir) {
            <i class="pi pi-folder" style="color: cornflowerblue"></i>
          } @else {
            <i class="pi pi-file-o"></i>
          }
          {{ item.name }}
        </td>
        <td>{{ item.newName }}</td>
        <td>{{ item.items != undefined && item.isDir ? item.items.length + ' items' : (item.size | unit) }}</td>
        <td>{{ item.modified | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
